# Environments
**/venv/
**/.venv/
**/ENV/
**/env/

# Python caching
**/__pycache__/
**/*.py[cod]

# Node / Frontend
**/node_modules/
**/dist/
**/.vite/

# IDEs
**/.idea/
**/.vscode/

# Local Database & Storage
**/database.db
**/data_storage/
**/backend/.env
**/uploads/
**/encrypted/
**/keys/

# Server-Side Session Storage Cache
**/flask_session/
